@*Cables powers*@
<div class="row p-0 m-0 mt-2">
    <div class="col-5 text-end py-2">
        POWER CABLE TYPE : 
    </div>
    <div class="col-7 text-start">
        <select placeholder="2" type="text" class="form-control form-select  border-0 mx-2 text-unique fw-bolder rounded-3 " style="font-size:0.8rem;">
            <option value="LAPTOP CHARGER">LAPTOP CHARGER</option>
            <option value="DIGITAL DEVICE CHARGER">DIGITAL DEVICE CHARGER</option>
            <option value="SOCKET EXTENSION">SOCKET EXTENSION</option>
            <option value="OTHER POWER CABLE">OTHER POWER CABLE</option>
        </select>
    </div>
</div>
<div class="row p-0 m-0 mt-1">
    <div class="col-5 text-end py-2">
        LENGTH : 
    </div>
    <div class="col-7 text-start">
        <input placeholder="1M" type="text" class="form-control  border-0 mx-2 text-unique fw-bolder rounded-3 " style="font-size:0.8rem;">
    </div>
</div>