@*Cables and USB*@
<div class="row p-0 m-0 mt-2">
    <div class="col-5 text-end py-2">
        STORAGE TYPE : 
    </div>
    <div class="col-7 text-start">
        <select placeholder="2" type="text" class="form-control form-select  border-0 mx-2 text-unique fw-bolder rounded-3 " style="font-size:0.8rem;">
            <option value="TYPE C TO TYPE C">SSD</option>
            <option value="TYPE C TO TYPE B">HDD</option>
            <option value="TYPE B TO TYPE B">FLASH DISK</option>
            <option value="TYPE B TO TYPE B">MEMORY CARD</option>
            <option value="TYPE B TO TYPE B">OPTICAL DISK</option>
            <option value="OTHER">OTHER</option>
        </select>
    </div>
</div>
<div class="row p-0 m-0 mt-1">
    <div class="col-5 text-end py-2">
        STORAGE SIZE (GB) : 
    </div>
    <div class="col-7 text-start">
        <input placeholder="16" type="text" class="form-control  border-0 mx-2 text-unique fw-bolder rounded-3 " style="font-size:0.8rem;">
    </div>
</div>