<div class="row bg-white p-3 mt-3" style="min-height:75vh !important;">
    <div class="col-12">
        <div class="row bg-unique shadow-sm txtshadow rounded-0 text-unique">
            <div class="col-1 text-center py-3 fw-bolder">#</div>
            <div class="col-md-2 col-3 py-3 text-start">Product</div>
            <div class="col-md-1 d-none d-md-block py-3 text-center ">Brand</div>
            <div class="col-md-1 d-none d-md-block py-3 text-center ">Category</div>
            <div class="col-md-1 col-2 py-3 text-center ">Item Sold</div>
            <div class="col-md-2 col-2 py-3 text-center ">Total Retail</div>
            <div class="col-md-2 col-2 py-3 text-center ">Total Cost</div>
            <div class="col-md-2 col-2 py-3 text-center ">Return value</div>
        </div>
    </div>
</div>

@code{
    
}