<div class="pt-md-0 pt-3">
    <div class="row pt-md-3 pt-5 mt-md-0 mt-5">
        <div class="col-md-2 col-12 text-start">
            <div class="form-floating mt-2 py-0 m-0 border-0">
                <select required  class="form-select m-0 text-capitalize border-0 bg-white text-unique fw-bolder rounded-0 " id="floatingSelect" aria-label="Floating label select example">
                    <option class="border-0" value=0 >Sales</option>
                    <option class="border-0" value=0 >Stock</option>
                    <option class="border-0" value=0 >Purchases</option>
                    <option class="border-0" value=0 >Adjustments</option>
                </select>
                <label for="floatingSelect">Report Type</label>
            </div>
        </div>
        <div class="col-md-2 col-12 text-start">
            <div class="form-floating mt-2 py-0 m-0 border-0">
                <select required  class="form-select m-0 text-capitalize border-0 bg-white text-unique fw-bolder rounded-0 " id="floatingSelect" aria-label="Floating label select example">
                    <option class="border-0" value=0 >Item wise</option>
                    <option class="border-0" value=0 >Bill wise</option>
                </select>
                <label for="floatingSelect">Based ON</label>
            </div>
        </div>
        <div class="col-md-2 col-12 text-start">
            <div class="form-floating mt-2 py-0 m-0 border-0">
                <select required  class="form-select m-0 text-capitalize border-0 bg-white text-unique fw-bolder rounded-0 " id="floatingSelect" aria-label="Floating label select example">
                    <option class="border-0" value=0 >All</option>
                    <option class="border-0" value=0 >Razack Baraza</option>
                    <option class="border-0" value=0 >Kai Razack</option>
                    <option class="border-0" value=0 >Said Baraza</option>
                </select>
                <label for="floatingSelect">Users</label>
            </div>
        </div>
        <div class="col-md-2 col-12 text-start pt-2">
            <ul class="p-0 m-0">
                <li class="mb-2">
                    <ul class="d-flex flex-row justify-content-end">
                        <li>
                            <label class="p-2 pb-0 opacity-50" for="floatingSelect">FROM</label>
                        </li>
                        <li>
                            <input type="date"  class="form-control fs-6 fw-bolder text-unique bg-white border-0 py-2 rounded-0" style="font-size:0.8rem !important;" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="d-flex flex-row justify-content-end">
                        <li>
                            <label class="p-2 pb-0 opacity-50" for="floatingSelect">TO</label>
                        </li>
                        <li>
                            <input type="date"  class="form-control fs-6 fw-bolder text-unique bg-white border-0 py-2 rounded-0" style="font-size:0.8rem !important;" />
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-12 pt-2 text-end">
            <ul class="d-flex flex-row justify-content-end m-0 p-0 ">
            <button class="px-2 ms-3 btn rounded-0 bg-success text-white txtshadow border-0 ">fetch</button>
                <a href="" class="px-2 py-1 ms-3 rounded-0 txtshadow border border-2 "><i class="bi bi-file-pdf txtshadow fs-6 "></i></a>
                <a href="" class="px-2 py-1 ms-3 rounded-0 txtshadow border border-2"><i class="bi bi-file-text txtshadow fs-6 "></i></a>
            </ul>
        </div>
    </div>
</div>

@code{
    
}