
<NavLink href="" class="text-center" style="margin:1px auto !important;">
    <img src="img/b.jpg" width="50" class="rounded-circle" >
    <ul class="m-0 my-2 p-0 d-flex flex-column justify-content-start rounded-3">
        <li class="p-0 m-0" style="font-size:0.8rem !important;">Kai reds</li>
        <li class="p-0 m-0 opacity-75" style="font-size:0.7rem !important;">Admin</li>
    </ul>
</NavLink>


